@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* Theme custom properties */
@theme {
  /* Colors */
  --color-mainbg: #000;
  --color-maintext: #fff;
  --color-subtext: #A9A9A9;

  /* Fonts */
  --font-inter: 'Inter', sans-serif;
  --font-sans: 'DM Sans', serif;
}

@layer components {
  /* You can add custom component classes here if needed */
}

@layer utilities {
  @keyframes blink {
    0%, 100% {
      opacity: 1;
      filter: drop-shadow(0 0 4px rgba(180, 180, 180, 2.5));
    }
    50% {
      opacity: 0.5;
      filter: none;
    }
  }



  .animate-blink {
    animation: blink 1s infinite;
  }

   @keyframes scrollUp {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  .animate-scrollUp {
    animation: scrollUp 12s linear infinite;
  }

}
